@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@theme {
  --color-primary: #b46119;
  --color-secondary: #e5c4a9;
  --color-background: #0e0908;
}
